<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
  <!-- <ion-item>
      <ion-label position="floating">titre</ion-label>
    <ion-input [(ngModel)]="taskTitle"></ion-input>
    <ion-label position="floating">Nom de la tache</ion-label>
    <ion-input [(ngModel)]="tacheNom"></ion-input>
  </ion-item> -->

  

  <!-- <ion-card>
          <ion-item>
            <ion-label position="floating">titre:</ion-label>
            <ion-input [(ngModel)]="taskTitle"></ion-input>
            <ion-label position="floating">description de la tache:</ion-label>
            <ion-input [(ngModel)]="tacheNom"></ion-input>
          </ion-item>
          <ion-button (click)='insertTask()'>Insertion de la tache</ion-button>
          <ion-button (click)="onloadCreateModalTask()">create task</ion-button>
    </ion-card> -->

    <ion-button (click)="onloadCreateModalTask()" expand="full" >create task</ion-button>
</ion-header>

<ion-content>

  


<!-- <div *ngIf="taskList">
    <ion-list *ngFor="let task of taskList" >
        <ion-item>task {{task.taskNb}} : {{task.taskName}} </ion-item>
    </ion-list>
</div> -->

<ion-card *ngFor="let task of taskList" >
    <ion-card-header>
      <ion-card-subtitle>{{task.taskNb}}
      </ion-card-subtitle>
      <ion-card-title>
        {{task.taskTitle}} 
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     {{task.taskName}}
    </ion-card-content>
    <ion-button (click)="onDelete(task.id)" color='danger'>
        <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button (click)='onLoadUpdateModal(task)'>update</ion-button>
   
  </ion-card>
  


</ion-content>
