<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>    
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>        
  
  </ion-list>
  <ion-button (click)='fInscription()'>S'inscrire</ion-button>
  <ion-button *ngIf="!authStatus" (click)='fLogin()'>Se connecter</ion-button>
  <ion-button *ngIf="authStatus" (click)='fLogOff()'>Se déconnecter</ion-button>
</ion-content>
